{% extends 'MusicBundle::layout.html.twig' %}

{% block main %}
    {{ form(form) }}
{% endblock %}

{% block breadcrumb %}
    <li>Ajout d'un artiste</li>
{% endblock %}

{% block title %}Ajout d'un artiste{% endblock %}