{% extends 'MusicBundle::layout.html.twig' %}

{% block main %}
    {{ form(form) }}
{% endblock %}

{% block breadcrumb %}
    <li>{{ artist.name }}</li>
{% endblock %}

{% block title %}Modification d'un artiste{% endblock %}