{% extends 'MusicBundle::layout.html.twig' %}

{% block main %}
    {{ form(form) }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('list_albums', {'artistSlug': artist.slug}) }}">{{ artist.name }}</a></li>
    <li>Création</li>
{% endblock %}

{% block title %}Création d'un album{% endblock %}